<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Default</string>
	<key>Normal Font</key>
	<string>JetBrainsMonoNFM-Medium 15</string>
	<key>Non Ascii Font</key>
	<string>JetBrainsMonoNFM-Medium 15</string>
	<key>Transparency</key>
	<real>0.1</real>
	<key>Blur</key>
	<true/>
	<key>Minimum Contrast</key>
	<real>0.12</real>
	<key>Draw Powerline Glyphs</key>
	<true/>
	<key>Use Bold Font</key>
	<true/>
	<key>Use Bright Bold</key>
	<true/>
	<key>Only The Default BG Color Uses Transparency</key>
	<true/>
</dict>
</plist>
